$primary-color: #adefd1FF;
$secondary-color: #00203FFF;
$fontstack: 'Montserrat', sans-serif;

// Das Projekt ist für mich zu überschaubar, um SCSS zu nutzen -> ich habe auch im css mit Animationen
// gearbeitet, deswegen habe ich sicherheitshalber alles im CSS gemacht 